body
{
	min-width: 1380px;
	padding: 0 20px;
}

#list-container
{
	float: left;
	background: #fff;
}

#pie-container
{
	float: left;
	width: 400px;
	margin-top: -55px;
	margin-left: -48px;
}

.oj-table-data-cell
{
	width: 100px;
}

.oj-table-column-header-text
{
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.oj-table-body-row
{
	line-height: 1.5rem;
}
